<br>
<h1>{{ titulo }}</h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="peliculas">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-4 div-pic-1 puntero" [routerLink]="['/login']" [ngStyle]="{'background-image': 'url( '+ ( peliculas[0] | noimage ) +' )'}">
                <p class="pic-titulo">
                    {{ peliculas[0].original_title }}
                </p>
            </div>
            <div class="col-md-4 div-pic-2 puntero" [routerLink]="['/login']" [ngStyle]="{'background-image': 'url( '+ ( peliculas[1] | noimage ) +' )'}">
                <p class="pic-titulo">
                    {{ peliculas[1].original_title }}
                </p>
            </div>

            <div class="col-md-4 div-pic-2 puntero" [routerLink]="['/login']" [ngStyle]="{'background-image': 'url( '+ ( peliculas[2] | noimage ) +' )'}">
                <p class="pic-titulo">
                    {{ peliculas[2].original_title }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 div-pic-1 puntero" [routerLink]="['/login']" [ngStyle]="{'background-image': 'url( '+ ( peliculas[3] | noimage ) +' )'}">
                <p class="pic-titulo">
                    {{ peliculas[3].original_title }}
                </p>
            </div>
            <div class="col-md-4 div-pic-2 puntero" [routerLink]="['/login']" [ngStyle]="{'background-image': 'url( '+ ( peliculas[4] | noimage ) +' )'}">
                <p class="pic-titulo">
                    {{ peliculas[4].original_title }}
                </p>
            </div>

            <div class="col-md-4 div-pic-2 puntero" [routerLink]="['/login']" [ngStyle]="{'background-image': 'url( '+ ( peliculas[5] | noimage ) +' )'}">
                <p class="pic-titulo">
                    {{ peliculas[5].original_title }}
                </p>
            </div>
        </div>
    </div>